/* Tokyo Night Style Wofi */

window {
    margin: 0px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #33ccff, #00ff99);
    font-family: "Cascadia Mono", monospace;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #E8E8E8;
    background-color: #0f0f12;
    border-radius: 10px;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #000000;
    border-radius: 12px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #E8E8E8;
}

#entry {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#entry:selected {
    background-color: #0f0f12; /* Selected Color (Gray) */
    color: #1a1b26;
    border-radius: 10px;
    border: none;
}

#entry:selected #text {
    color: #E8E8E8; /* Text color when selected */
}

#input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#img {
    margin-right: 6px;
    background-color: transparent;
}
