/* Tokyo Night Style Wofi */

window {
    margin: 0px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #33ccff, #00ff99);
    font-family: "Cascadia Mono", monospace;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #c0caf5;
    background-color: #2B2B2B;
    border-radius: 10px;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #0A0A0A;
    border-radius: 12px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #E8E8E8;
}

#entry {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#entry:selected {
    background-color: #2B2B2B; /* Selected Color (Gray) */
    color: #1a1b26;
    border-radius: 10px;
    border: none;
}

#entry:selected #text {
    color: #E8E8E8; /* Text color when selected */
}
